#MSearchBox {
	margin-left: 20px;
}

.MSearchBoxActive #MSearchField {
    color: #000000;
}

#MSearchSelect {
	padding-right: 3px;
}

.dropdown-menu > li > a:hover {

}

/*---------------- Search filter selection */

#MSearchSelectWindow {
    display: none;
    position: absolute;
    left: 0; top: 0;
    z-index: 10001;
}

.SelectItem {
    padding-left:  2px;
    padding-right: 12px;
    border: 0px;
}

span.SelectionMark {
	font-size: 20px;
	position: relative;
	top: 1px;
    margin-right: 6px;
    font-family: monospace;
    outline-style: none;
    text-decoration: none;
}

a.SelectItem {
    display: block;
    outline-style: none;
    color: #333;
    text-decoration: none;
    padding-left:   6px;
    padding-right: 12px;
}

a.SelectItem:focus,
a.SelectItem:active {
    outline-style: none;
    text-decoration: none;
}

a.SelectItem:hover {
    outline-style: none;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

/*---------------- Search results window */

iframe#MSearchResults {
    width: 60ex;
    height: 15em;
}

#search-results-window {
    display: none;
    position: absolute;
    left: 0px;
    z-index:10000;
}
